<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" media="screen">

</head>
<body>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <h6>¿Esta seguro que desea eliminar el articulo {{form.id}}?</h6>
            <input type="submit" value="Confirmar" class ="btn btn-outline-primary">
        </form>
    </div>
</body>
</html>