{% extends "base.html" %}
{% load static %}
{% block titulo_pagina %} Listado de Empleados {% endblock %}
{% block titulo_principal %} Ventas {% endblock %}
{% block titulo_secundario %} Lista de empleados {% endblock %}
{% block principal %}    
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Legajo</th>
                            <th>Cargo Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>MODIFICAR</th>
                        </tr>
                    </thead>
                    {% for empleado in empleados %}
                    <tr>
                        <td>{{empleado.legajo}}</td>
                        <td>{{empleado.cargo.nombre}}</td>
                        <td>{{empleado.persona.nombre}}</td>
                        <td>{{empleado.persona.apellido}}</td>
                        <td><a href="{% url 'modificar_empleado' empleado.legajo %}"><img src="{% static 'img/Editar_25.png' %}"></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>

{% endblock %}