{% extends "base.html" %}
{% block titulo_principal %}<p class="titulo-index">Administrador de Ventas</p> {% endblock %}
{% block principal %}
<div class="ventana">
    <div class="producto">Prod1</div>
    <div class="producto">Prod2</div>
    <div class="d-flex p-2 bd-highlight">I'm a flexbox container!</div>
    <div class="d-flex flex-wrap">
        <div class="d-flex p-2 bd-highlight">I'm a flexbox container!</div>
        <div class="d-flex p-2 bd-highlight">I'm a flexbox container!</div>
        <div class="d-flex p-2 bd-highlight">I'm a flexbox container!</div>
        <div class="d-flex p-2 bd-highlight">I'm a flexbox container!</div>
        <div class="d-flex p-2 bd-highlight">I'm a flexbox container!</div>
        <div class="d-flex p-2 bd-highlight">I'm a flexbox container!</div>
        <div class="d-flex p-2 bd-highlight">I'm a flexbox container!</div>
    </div>
</div>

{% endblock %}