{% extends "base.html" %}
{% load static %}
{% block titulo_pagina %} Administracion de personas {% endblock %}
{% block titulo_principal %} Ventas {% endblock %}
{% block titulo_secundario %} Cargar/Modificar personas {% endblock %}
{% block principal %}
<form method="post" enctype="multipart/form-data" novalidate="">
    {% csrf_token %}

    {% if form.errors %}
    <!-- Mensaje de error-->
        <div class="alert-danger">
            <p>Hay errores en los datos ingresados. Por favor, corrija los campos:</p>
            {{ form.non_field_errors }}
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>
                            {{ field.label }}:{{ field.errors|striptags }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="col-sm-12 maincontent">
        <div class="row">
            <div class="col-sm-8">
                {{ form.nombre.label }} {{form.nombre}} <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                {{ form.apellido.label }} {{form.apellido}} <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                {{ form.num_doc.label }} {{form.num_doc}} <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                {{ form.fecha_nac.label }} {{form.fecha_nac}} <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                {{ form.localidad.label }} {{form.localidad }} <br />
            </div>
        </div>
        <input type="submit" name="submit" value="Grabar" class="btn btn-outline-primary">
    </div>
</form>
{% endblock %}